.venv
target/
dbt_packages/
logs/
data/*tripdata*.parquet
data/fhv_tripdata*.csv
data/fhvhv_tripdata*.csv
data/green_tripdata*.csv
data/yellow_tripdata*.csv
data/uber-raw-data*.csv
data/unaltered/*.csv
data/loaded/
data/*tripdata*.zip
data/*tripdata*.csv
data/*trip data*.csv
*.duckdb
*.duckdb.wal
reports/sources/*.csv
.meltano
output
